.login-wrap {
  background-color: rgba(249, 249, 249, 1);
  height: 100vh;

  .logo-wrap {
    height: 35vh;
    display: flex;
    align-items: center;

    .logo {
      height: 10vh;
      width: 30vw;
      display: block;
      margin: auto;
    }
  }

  .input-container {
    height: 13vh;

    .input-wrap {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      border: 0.1rem solid rgb(190, 190, 190);
      font-size: medium;

      .input-detail {
        background-color: white;
        display: block;
        width: 75vw;
        height: 6vh;
        border-style: none;
      }
    }
  }

  .login-button {
    width: 90vw;
    height: 6vh;
    display: block;
    margin: auto;
    margin-top: 3vh;
    font-size: medium;
    background-color: rgba(0, 121, 254, 1);
    color: white;
    border-style: none;
    border-radius: 8px;
  }

  .function-wrap {
    height: 5vh;
    width: 70vw;
    margin: auto;
    margin-top: 4vh;
    font-size: small;
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.register-wrap {
  background-color: rgba(249, 249, 249, 1);
  height: 100vh;

  .logo-wrap {
    height: 30vh;
    display: flex;
    align-items: center;

    .logo {
      height: 10vh;
      width: 30vw;
      display: block;
      margin: auto;
    }
  }

  .input-container {
    height: 45vh;

    .input-wrap {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      border: 0.1rem solid rgb(190, 190, 190);
      font-size: medium;

      .input-detail {
        background-color: white;
        display: block;
        width: 75vw;
        height: 6vh;
        border-style: none;
      }
    }

    .phone-code {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      border: 0.1rem solid rgb(190, 190, 190);
      font-size: medium;

      .input-detail {
        background-color: white;
        display: block;
        width: 39vw;
        height: 6vh;
        border-style: none;
      }

      .phonecode-button {
        width: 30vw;
        height: 6vh;
        border-style: none;
        background-color: rgba(0, 121, 254, 1);
        color: white;
      }
    }
  }

  .login-button {
    width: 90vw;
    height: 6vh;
    display: block;
    margin: auto;
    margin-top: 3vh;
    font-size: medium;
    background-color: rgba(0, 121, 254, 1);
    color: white;
    border-style: none;
    border-radius: 8px;
  }

  .function-wrap {
    height: 6vh;
    width: 70vw;
    margin: auto;
    margin-top: 4vh;
    font-size: small;
    padding-left: 50vw;
  }
}

.password-wrap {
  background-color: rgba(249, 249, 249, 1);
  height: 100vh;

  .password-top {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;

    .trangle {
      border-style: solid;
      border-width: 2.5vh 2.5vh 2.5vh 2.5vh;
      border-color: rgba(249, 249, 249, 1) rgba(249, 249, 249, 1) rgba(249, 249, 249, 1) rgb(231, 231, 231);
      width: 0;
      height: 0;
    }

    .now-step {
      height: 5vh;
      width: 60vw;
      padding-left: 10vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgb(231, 231, 231);
      color: rgba(0, 121, 254, 1);
    }

    .other-step {
      height: 5vh;
      width: 54vw;
      padding-right: 5vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgba(249, 249, 249, 1);
      color: rgb(184, 184, 184);
    }
  }

  .input-container {
    height: 12vh;
    margin-top: 5vh;

    .input-wrap {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      border: 0.1rem solid rgb(190, 190, 190);
      font-size: medium;

      .input-detail {
        background-color: white;
        display: block;
        width: 75vw;
        height: 6vh;
        border-style: none;
      }
    }
  }

  .password-button {
    width: 90vw;
    height: 6vh;
    display: block;
    margin: auto;
    margin-top: 3vh;
    font-size: medium;
    background-color: rgba(0, 121, 254, 1);
    color: white;
    border-style: none;
    border-radius: 8px;
  }

  .function-wrap {
    height: 6vh;
    width: 70vw;
    margin: auto;
    margin-top: 4vh;
    font-size: small;
    padding-left: 50vw;
  }
}

.editpassword-wrap {
  background-color: rgba(249, 249, 249, 1);
  height: 100vh;

  .password-top {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;

    .trangle {
      border-style: solid;
      border-width: 2.5vh 2.5vh 2.5vh 2.5vh;
      border-color: rgba(249, 249, 249, 1) rgb(231, 231, 231) rgba(249, 249, 249, 1) rgba(249, 249, 249, 1);
      width: 0;
      height: 0;
    }

    .left-step {
      height: 5vh;
      width: 40vw;
      padding-left: 10vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgba(249, 249, 249, 1);
      color: rgb(184, 184, 184);
    }

    .right-step {
      height: 5vh;
      width: 55vw;
      padding-left: 10vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgb(231, 231, 231);
      color: rgba(0, 121, 254, 1);
    }
  }

  .input-container {
    height: 12vh;
    margin-top: 5vh;

    .input-wrap {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      border: 0.1rem solid rgb(190, 190, 190);
      font-size: medium;

      .input-detail {
        background-color: white;
        display: block;
        width: 75vw;
        height: 6vh;
        border-style: none;
      }
    }
  }

  .password-button {
    width: 90vw;
    height: 6vh;
    display: block;
    margin: auto;
    margin-top: 3vh;
    font-size: medium;
    background-color: rgba(0, 121, 254, 1);
    color: white;
    border-style: none;
    border-radius: 8px;
  }
}

.passwordcode-wrap {
  background-color: rgba(249, 249, 249, 1);
  height: 100vh;

  .password-top {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;

    .trangle {
      border-style: solid;
      border-width: 2.5vh 2.5vh 2.5vh 2.5vh;
      border-color: rgba(249, 249, 249, 1) rgba(249, 249, 249, 1) rgba(249, 249, 249, 1) rgb(231, 231, 231);
      width: 0;
      height: 0;
    }

    .now-step {
      height: 5vh;
      width: 60vw;
      padding-left: 10vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgb(231, 231, 231);
      color: rgba(0, 121, 254, 1);
    }

    .other-step {
      height: 5vh;
      width: 54vw;
      padding-right: 5vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgba(249, 249, 249, 1);
      color: rgb(184, 184, 184);
    }
  }

  .input-container {
    height: 12vh;
    margin-top: 5vh;

    .input-wrap {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      border: 0.1rem solid rgb(190, 190, 190);
      font-size: medium;

      .input-detail {
        background-color: white;
        display: block;
        width: 75vw;
        height: 6vh;
        border-style: none;
      }
    }

    .phone-code {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      border: 0.1rem solid rgb(190, 190, 190);
      font-size: medium;

      .input-detail {
        background-color: white;
        display: block;
        width: 39vw;
        height: 6vh;
        border-style: none;
      }

      .phonecode-button {
        width: 30vw;
        height: 6vh;
        border-style: none;
        background-color: rgba(0, 121, 254, 1);
        color: white;
      }
    }
  }

  .login-button {
    width: 90vw;
    height: 6vh;
    display: block;
    margin: auto;
    margin-top: 3vh;
    font-size: medium;
    background-color: rgba(0, 121, 254, 1);
    color: white;
    border-style: none;
    border-radius: 8px;
  }

  .function-wrap {
    height: 6vh;
    width: 70vw;
    margin: auto;
    margin-top: 4vh;
    font-size: small;
    padding-left: 50vw;
  }
}
