.login-header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 5vh;

  .header-left {
    padding-left: 10vw;
    margin: auto;
    font-size: small;
  }

  .header-right {
    float: right;
    padding-right: 5vw;
  }
}

input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #c1c5cc;
  /* placeholder字体大小  */
  font-size: 12px;
}

.login-wrap {
  background-color: rgba(249, 249, 249, 1);
  height: 100vh;
  font-size: 12px;

  .logo-wrap {
    height: 35vh;
    display: flex;
    align-items: center;

    .logo {
      height: 10vh;
      width: 30vw;
      display: block;
      margin: auto;
    }
  }

  .input-container {
    height: 13vh;

    .input-wrap {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      font-size: medium;
      position: relative;
      box-shadow: 0 -1px 1px -1px #e5e5e5, 1px 0 1px -1px #e5e5e5, 0 1px 1px -1px #e5e5e5, -1px 0 1px -1px #e5e5e5;

      .input-detail {
        background-color: white;
        display: block;
        width: 70vw;
        height: 6vh;
        border-style: none;
        padding-left: 5vw;
      }
    }
  }

  .login-button {
    width: 90vw;
    height: 6vh;
    display: block;
    margin: auto;
    margin-top: 3vh;
    background-color: rgba(0, 121, 254, 1);
    color: white;
    border-style: none;
    border-radius: 8px;
  }

  .function-wrap {
    height: 5vh;
    width: 70vw;
    margin: auto;
    margin-top: 4vh;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.register-wrap {
  background-color: rgba(249, 249, 249, 1);
  height: 100vh;
  font-size: 12px;

  .logo-wrap {
    height: 30vh;
    display: flex;
    align-items: center;

    .logo {
      height: 10vh;
      width: 30vw;
      display: block;
      margin: auto;
    }
  }

  .input-container {
    height: 45vh;

    .input-wrap {
      position: relative;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      // border: 0.1rem solid rgb(190, 190, 190);
      font-size: medium;
      box-shadow: 0 -1px 1px -1px #e5e5e5, 1px 0 1px -1px #e5e5e5, 0 1px 1px -1px #e5e5e5, -1px 0 1px -1px #e5e5e5; //左边线

      .input-detail {
        -webkit-user-select: auto !important;
        -khtml-user-select: auto !important;
        -moz-user-select: auto !important;
        background-color: white;
        display: block;
        width: 70vw;
        height: 6vh;
        border-style: none;
        padding-left: 5vw;
      }
    }

    .phone-code {
      background-color: white;
      display: flex;
      width: 90vw;
      height: 6vh;

      margin: auto;
      align-items: center;
      justify-content: space-between;

      .input-wrap {
        padding-left: 4vw;
        background-color: white;
        align-items: center;
        justify-content: space-between;
        width: 65vw;
        font-size: medium;
        position: relative;
        box-shadow: 0 -1px 1px -1px #e5e5e5, 1px 0 1px -1px #e5e5e5, 0 1px 1px -1px #e5e5e5, 1px 0 1px -1px #e5e5e5; //左边线
      }

      .input-detail {
        -webkit-user-select: auto !important;
        -khtml-user-select: auto !important;
        -moz-user-select: auto !important;
        background-color: white;
        display: block;
        width: 42.5vw;
        padding-left: 5vw;
        height: 6vh;
        border-style: none;
      }

      .phonecode-button {
        width: 30vw;
        height: 6vh;
        border-style: none;
        font-size: 12px;
        background-color: rgba(0, 121, 254, 1);
        color: white;
      }
    }
  }

  .login-button {
    width: 90vw;
    height: 6vh;
    display: block;
    margin: auto;
    margin-top: 3vh;
    font-size: medium;
    background-color: rgba(0, 121, 254, 1);
    color: white;
    border-style: none;
    border-radius: 8px;
  }

  .function-wrap {
    height: 6vh;
    width: 70vw;
    margin: auto;
    margin-top: 4vh;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.editpassword-wrap {
  background-color: rgba(249, 249, 249, 1);
  height: 100vh;

  .password-top {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;

    .trangle {
      border-style: solid;
      border-width: 2.5vh 2.5vh 2.5vh 2.5vh;
      border-color: rgba(249, 249, 249, 1) rgb(231, 231, 231) rgba(249, 249, 249, 1) rgba(249, 249, 249, 1);
      width: 0;
      height: 0;
    }

    .left-step {
      height: 5vh;
      width: 40vw;
      padding-left: 10vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgba(249, 249, 249, 1);
      color: rgb(184, 184, 184);
    }

    .right-step {
      height: 5vh;
      width: 55vw;
      padding-left: 10vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgb(231, 231, 231);
      color: rgba(0, 121, 254, 1);
    }
  }

  .input-container {
    height: 12vh;
    margin-top: 5vh;

    .input-wrap {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      font-size: medium;
      position: relative;
      box-shadow: 0 -1px 1px -1px #e5e5e5, 1px 0 1px -1px #e5e5e5, 0 1px 1px -1px #e5e5e5, -1px 0 1px -1px #e5e5e5;

      .input-detail {
        -webkit-user-select: auto !important;
        -khtml-user-select: auto !important;
        -moz-user-select: auto !important;
        background-color: white;
        display: block;
        width: 70vw;
        padding-left: 5vw;
        height: 6vh;
        border-style: none;
      }
    }
  }

  .function-wrap {
    height: 4vh;
    width: 70vw;
    margin: auto;
    margin-top: 2vh;
    font-size: 12px;
    display: flex;
    justify-content: end;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .password-button {
    width: 90vw;
    height: 6vh;
    display: block;
    margin: auto;
    font-size: 12px;
    background-color: rgba(0, 121, 254, 1);
    color: white;
    border-style: none;
    border-radius: 8px;
  }
}

.passwordcode-wrap {
  background-color: rgba(249, 249, 249, 1);
  height: 100vh;
  font-size: 12px;

  .password-top {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;

    .trangle {
      border-style: solid;
      border-width: 2.5vh 2.5vh 2.5vh 2.5vh;
      border-color: rgba(249, 249, 249, 1) rgba(249, 249, 249, 1) rgba(249, 249, 249, 1) rgb(231, 231, 231);
      width: 0;
      height: 0;
    }

    .now-step {
      height: 5vh;
      width: 60vw;
      padding-left: 10vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgb(231, 231, 231);
      color: rgba(0, 121, 254, 1);
    }

    .other-step {
      height: 5vh;
      width: 54vw;
      padding-right: 5vw;
      line-height: 5vh;
      font-size: small;
      background-color: rgba(249, 249, 249, 1);
      color: rgb(184, 184, 184);
    }
  }

  .input-container {
    height: 12vh;
    margin-top: 5vh;

    .input-wrap {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4vw;
      width: 86vw;
      height: 6vh;
      margin: auto;
      font-size: medium;
      position: relative;
      box-shadow: 0 -1px 1px -1px #e5e5e5, 1px 0 1px -1px #e5e5e5, 0 1px 1px -1px #e5e5e5, -1px 0 1px -1px #e5e5e5;

      .input-detail {
        -webkit-user-select: auto !important;
        -khtml-user-select: auto !important;
        -moz-user-select: auto !important;
        background-color: white;
        display: block;
        width: 70vw;
        padding-left: 5vw;
        height: 6vh;
        border-style: none;
      }
    }

    .phone-code {
      background-color: white;
      display: flex;
      width: 90vw;
      height: 6vh;
      margin: auto;
      align-items: center;
      justify-content: space-between;

      .input-wrap {
        padding-left: 4vw;
        background-color: white;
        align-items: center;
        justify-content: space-between;
        width: 56vw;
        font-size: medium;
        position: relative;
        box-shadow: 0 -1px 1px -1px #e5e5e5, 1px 0 1px -1px #e5e5e5, 0 1px 1px -1px #e5e5e5, -1px 0 1px -1px #e5e5e5;

        .input-detail {
          -webkit-user-select: auto !important;
          -khtml-user-select: auto !important;
          -moz-user-select: auto !important;
          background-color: white;
          display: block;
          width: 40vw;
          padding-left: 5vw;
          height: 6vh;
          border-style: none;
        }
      }

      .phonecode-button {
        width: 30vw;
        height: 6vh;
        border-style: none;
        font-size: 12px;
        background-color: rgba(0, 121, 254, 1);
        color: white;
      }
    }
  }

  .login-button {
    width: 90vw;
    height: 6vh;
    display: block;
    margin: auto;
    background-color: rgba(0, 121, 254, 1);
    color: white;
    border-style: none;
    border-radius: 8px;
  }

  .function-wrap {
    height: 4vh;
    width: 70vw;
    margin: auto;
    margin-top: 2vh;
    font-size: 12px;
    display: flex;
    justify-content: end;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
