.departmentprofile-img-show {
  #visualdesign-img-source1 {
    width: 3vw;
    top: 8vh;
    right: 13vw;
    -webkit-animation: departmentprofile-bg-show 3s, 2.5s 4.25s visualdesign-source1-2 infinite;
    animation: departmentprofile-bg-show 3s, 2.5s 4.25s visualdesign-source1-2 infinite;  
  }
  #visualdesign-img-source2 {
    width: 3vw;
    top: 10vh;
    left: 40vw;
    -webkit-animation: departmentprofile-bg-show 3s, 2.5s 3s visualdesign-source1-2 infinite;
    animation: departmentprofile-bg-show 3s, 2.5s 3s visualdesign-source1-2 infinite;  
  }
  #visualdesign-img-source3 {
    width: 11vw;
    top: 5vh;
    right: 30vw;
    -webkit-animation: 3s visualdesign-source3;
    animation: 3s visualdesign-source3;
  }
  #visualdesign-img-source4 {
    width: 8vw;
    top: 7ch;
    left: 15vw;
    -webkit-animation: 3s visualdesign-source4;
    animation: 3s visualdesign-source4;
  }
  #visualdesign-img-source5 {
    width: 18vw;
    top: 3vh;
    left: 28vw;
    -webkit-animation: 3s visualdesign-source5;
    animation: 3s visualdesign-source5;
  }
}


@keyframes visualdesign-source1-2 {
  0% { 
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

@-webkit-keyframes visualdesign-source1-2 {
  0% { 
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

@keyframes visualdesign-source3 {
  0% { 
    right: 0;
    opacity: 0;
  }
  100% { 
    right: 30vw;
    opacity: 1;
  }
}

@-webkit-keyframes visualdesign-source3 {
  0% { 
    right: 0;
    opacity: 0;
  }
  100% { 
    right: 30vw;
    opacity: 1;
  }
}

@keyframes visualdesign-source4 {
  0% { 
    left: 0;
    opacity: 0;
  }
  100% { 
    left: 15vw;
    opacity: 1;
  }
}

@-webkit-keyframes visualdesign-source4 {
  0% { 
    left: 0;
    opacity: 0;
  }
  100% { 
    left: 15vw;
    opacity: 1;
  }
}

@keyframes visualdesign-source5 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 28vw;
    opacity: 1;
  }
}

@-webkit-keyframes visualdesign-source5 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 28vw;
    opacity: 1;
  }
}