.departmentprofile-img-show {
  #productoperation-img-source1 {
    width: 8vw;
    top: 6vh;
    right: 13vw;
    -webkit-animation: 2s productoperation-source1;
    animation: 2s productoperation-source1;  
  }
  #productoperation-img-source2 {
    width: 7vw;
    top: 9vh;
    left: 10vw;
    -webkit-animation: 2s productoperation-source2;
    animation: 2s productoperation-source2;
  }
  #productoperation-img-source3 {
    width: 6vw;
    top: 24vh;
    left: 55vw;
    -webkit-animation: departmentprofile-bg-show 3s, 3s 4.5s productoperation-source3-4 infinite;
    animation: departmentprofile-bg-show 3s, 3s 4.5s productoperation-source3-4 infinite;
  }
  #productoperation-img-source4 {
    width: 6vw;
    top: 5vh;
    left: 45vw;
    -webkit-animation: departmentprofile-bg-show 3s, 3s 3s productoperation-source3-4 infinite;
    animation: departmentprofile-bg-show 3s, 3s 3s productoperation-source3-4 infinite;
  }
  #productoperation-img-source5 {
    width: 18vw;
    top: 2vh;
    left: 18vw;
    -webkit-animation: 3s productoperation-source5;
    animation: 3s productoperation-source5;
  }
}


@keyframes productoperation-source1 {
  0% { 
    right: 0;
    opacity: 0;
  }
  100% { 
    right: 13vw;
    opacity: 1;
  }
}

@-webkit-keyframes productoperation-source1 {
  0% { 
    right: 0;
    opacity: 0;
  }
  100% { 
    right: 13vw;
    opacity: 1;
  }
}

@keyframes productoperation-source2 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 10vw;
    opacity: 1;
  }
}

@-webkit-keyframes productoperation-source2 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 10vw;
    opacity: 1;
  }
}

@keyframes productoperation-source3-4 {
  0% { 
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(45deg);
    opacity: 0;
  }
  100% { 
    transform: rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes productoperation-source3-4 {
  0% { 
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(45deg);
    opacity: 0;
  }
  100% { 
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes productoperation-source5 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 18vw;
    opacity: 1;
  }
}

@-webkit-keyframes productoperation-source5 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 18vw;
    opacity: 1;
  }
}