.departmentprofile-img-show {
  #javaservice-img-source1 {
    width: 17vw;
    top: 7vh;
    left: 50vw; 
    -webkit-animation: 3s javaservice-source1;
    animation: 3s javaservice-source1;
  }
  #javaservice-img-source2 {
    width: 6vw;
    top: 15vh;
    right: 10vw;
    -webkit-animation: 3s javaservice-source2;
    animation: 3s javaservice-source2;
  }
  #javaservice-img-source3 {
    width: 3vw;
    top: 10vh;
    right: 20vw;
    -webkit-animation: departmentprofile-bg-show 3s, 2.5s 3s javaservice-source3-4 infinite;
    animation: departmentprofile-bg-show 3s, 2.5s 3s javaservice-source3-4 infinite;
  }
  #javaservice-img-source4 {
    width: 3vw;
    top: 15vh;
    left: 10vw;
    -webkit-animation: departmentprofile-bg-show 3s, 2.5s 4.25s javaservice-source3-4 infinite;
    animation: departmentprofile-bg-show 3s, 2.5s 4.25s javaservice-source3-4 infinite;
  }
  #javaservice-img-source5 {
    width:15vw;
    top: 3vh;
    left: 25vw;
    -webkit-animation: 3s javaservice-source5;
    animation: 3s javaservice-source5;
  }
}

@keyframes javaservice-source1 {
  0% { 
    left: 0;
    opacity: 0;
  }
  100% { 
    left: 50vw;
    opacity: 1;
  }
}

@-webkit-keyframes javaservice-source1 {
  0% { 
    left: 0;
    opacity: 0;
  }
  100% { 
    left: 50vw;
    opacity: 1;
  }
}

@keyframes javaservice-source2 {
  0% { 
    right: 0;
    opacity: 0;
  }
  100% { 
    right: 10vw;
    opacity: 1;
  }
}

@-webkit-keyframes javaservice-source2 {
  0% { 
    right: 0;
    opacity: 0;
  }
  100% { 
    right: 10vw;
    opacity: 1;
  }
}

@keyframes javaservice-source3-4 {
  0% { 
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

@-webkit-keyframes javaservice-source3-4 {
  0% { 
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

@keyframes javaservice-source5 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 25vw;
    opacity: 1;
  }
}

@-webkit-keyframes javaservice-source5 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 25vw;
    opacity: 1;
  }
}
