.departmentprofile {
  width: 100vw;
  height: 95vh;
  max-height: 95vh;
  position: relative;
  // background-color: #f00;

  .departmentprofile-center {
    text-align: center;

    .departmentprofile-name {
      width: 35vw;
      margin-top: 10vh;
    }
  
    p{
      width: 70vw;
      height: 25vh;
      margin: 5vh 0 0 15vw;
      // background-color: #f00;
      box-sizing: border-box;
      border: 1px solid #f00;
    }

  }
  
  .departmentprofile-img {
    width: 100vw;
    height: 35vh;
    box-sizing: border-box;
    border: 1px solid #00f;
    position: relative;
    visibility: hidden;
    * {
      position: absolute;
    }

    .departmentprofile-img-bg {
      width: 80vw;
      left: 10vw;
      bottom: 0;
    }
  }

  .departmentprofile-img-show {
    width: 100vw;
    height: 35vh;
    // box-sizing: border-box;
    // border: 1px solid #00f;
    position: relative;

    * {
      position: absolute;
    }

    .departmentprofile-img-bg {
      width: 80vw;
      left: 10vw;
      bottom: 0;
      animation: departmentprofile-bg-show 3s;
      -webkit-animation: departmentprofile-bg-show 3s;
    }
  }


  .departmentprofile-lefttop {
    width: 20vw;
    position: absolute;
    left: 0;
    top: 0;
  }

  .departmentprofile-rightbottom {
    width: 20vw;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .departmentprofile-leftbottom {
    width: 20vw;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .departmentprofile-righttop {
    width: 20vw;
    position: absolute;
    right: 0;
    top: 0;
  }

}

@keyframes departmentprofile-bg-show
{
  from {opacity: 0;}
  to {opacity: 1;}
}
 
@-webkit-keyframes departmentprofile-bg-show
{
  from {opacity: 0;}
  to {opacity: 1;}
}
