#whoarewe {
  width: 100vw;
  // height: 178vw;
  // height: 190vh;
  height: 100%;
  background: url(../../../../assets/whoarewe/背景.png);
  background-size: 100vw;

  #whoarewe-tittle {
    text-align: center;
    #whoarewe-tittle-bulb{
      // margin-top: 5vh;
    }
    #whoarewe-tittle-we{
      margin-left: 7vw;
    }
  }

  #whoarewe-introduce {
    margin: 0 auto;
    width: 90vw;
    height: 76vw;
    background: url(../../../../assets/whoarewe/小背景.png) center center no-repeat;
    background-size: 100%;

    #whoarewe-introduce-paragraph {
      width: 70%;
      margin-left: 5vw;
      margin-top: 11vh;
    }
  }

  #whoarewe-joinus {
    display: block;
    margin: 0 auto;
    width: 40vw;
    height: 14.3vw;
    color: rgba($color: #fff, $alpha: 0);
    background: url(../../../../assets/whoarewe/加入我们.png) center center no-repeat;
    background-size: 100%;
    margin-top: 8vh;
  }

  // #whoarewe-joinus:focus,
  // #whoarewe-joinus:active:focus,
  // #whoarewe-joinus.active:focus,
  // #whoarewe-joinus.focus,
  // #whoarewe-joinus:active.focus,
  // #whoarewe-joinus.active.focus {
  //   outline: none;
  //   border-color: transparent;
  //   box-shadow:none;
  // }


  #whoarewe-joinus-shadow {
    display: block;
    width: 40vw;
    margin: 2vh auto 0 auto;
    padding-bottom: 8vh;
  }
}
