#topbar-left{
  line-height: 5vh;
  font-size: 2vh;
  font-weight: 500;
  float: left;
  margin-left: 4vw;
}

#topbar-right{
  button{
    line-height: 5vh;
    font-size: 1.8vh;
    font-weight: 400;
    color: #8888ff;
  }
  float: right;
  margin-right: 4vw;
}