.departmentprofile-img-show {
  #androidsmart-img-source1 {
    width: 15vw;
    top: 4vh;
    left: 45vw; 
    -webkit-animation: 3s androidsmart-source1;
    animation: 3s androidsmart-source1;
  }
  #androidsmart-img-source2 {
    width: 7vw;
    top: 9vh;
    right: 10vw;
    -webkit-animation: 3s androidsmart-source2;
    animation: 3s androidsmart-source2;
  }
  #androidsmart-img-source3 {
    width: 7vw;
    top: 24vh;
    left: 7vw;
    -webkit-animation: 3s androidsmart-source3;
    animation: 3s androidsmart-source3;
  }
  #androidsmart-img-source4 {
    width: 3vw;
    top: 10vh;
    right: 30vw;
    -webkit-animation: departmentprofile-bg-show 3s, 2.5s 4.25s androidsmart-source4-5 infinite;
    animation: departmentprofile-bg-show 3s, 2.5s 4.25s androidsmart-source4-5 infinite;
  }
  #androidsmart-img-source5 {
    width:3vw;
    top: 7vh;
    left: 23vw;
    -webkit-animation: departmentprofile-bg-show 3s, 2.5s 3s androidsmart-source4-5 infinite;
    animation: departmentprofile-bg-show 3s, 2.5s 3s androidsmart-source4-5 infinite;
  }
  #androidsmart-img-source6 {
    width:40vw;
    top: 12vh;
    left: 10vw;
    -webkit-animation: 3s androidsmart-source6;
    animation: 3s androidsmart-source6;
  }
}

@keyframes androidsmart-source1 {
  0% { 
    left: 0;
    opacity: 0;
  }
  100% { 
    left: 45vw;
    opacity: 1;
  }
}

@-webkit-keyframes androidsmart-source1 {
  0% { 
    left: 0;
    opacity: 0;
  }
  100% { 
    left: 45vw;
    opacity: 1;
  }
}

@keyframes androidsmart-source2 {
  0% { 
    right: 0;
    opacity: 0;
  }
  100% { 
    right: 10vw;
    opacity: 1;
  }
}

@-webkit-keyframes androidsmart-source2 {
  0% { 
    right: 0;
    opacity: 0;
  }
  100% { 
    right: 10vw;
    opacity: 1;
  }
}

@keyframes androidsmart-source3 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 7vw;
    opacity: 1;
  }
}

@-webkit-keyframes androidsmart-source3 {
  0% { 
    left: 0vw;
    opacity: 0;
  }
  100% { 
    left: 7vw;
    opacity: 1;
  }
}

@keyframes androidsmart-source4-5 {
  0% { 
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

@-webkit-keyframes androidsmart-source4-5 {
  0% { 
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

@keyframes androidsmart-source6 {
  0% { 
    left: -17vw;
    opacity: 0;
  }
  100% { 
    left: 10vw;
    opacity: 1;
  }
}

@-webkit-keyframes androidsmart-source6 {
  0% { 
    left: -17vw;
    opacity: 0;
  }
  100% { 
    left: 10vw;
    opacity: 1;
  }
}